# Normalize to LF in the repository; check out native on Windows.
* text=auto

*.py   text eol=lf
*.js   text eol=lf
*.jsx  text eol=lf
*.css  text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.yml  text eol=lf
*.ini  text eol=lf
*.mako text eol=lf
Dockerfile text eol=lf

*.png  binary
*.jpg  binary
*.svg  text eol=lf
